body, ul, li{
 margin: 0px;
 padding: 0px;
 list-style:none;
}
.header-style{
 height: 48px;
 background-color: #222A35;
}
.header-style > ul{
 display: inline-block;
 display: flex;
 justify-content: center;
 align-items: center;
}
.header-style > ul > li{
 display: block;
}
.header-style > ul > li > a{
 color: white;
 text-decoration: none;
 padding: 5px 30px;
 display: block;
 position: relative;
 bottom: 8px;
}
.header-style > ul > li:hover > a{
 color: rgb(240, 195, 112);
}
.header-style ul ul a{
 text-decoration: none;
 color: white;
 display: block;
}
.header-style ul ul > li{
  padding: 5px 0px;  
}
.header-style ul ul a:hover{
 color: rgb(240, 195, 112);
}
.header-style li {
 position: relative;
}
.header-style  li  a{
 padding: 0px 30px;
}
.header-style ul ul {
 text-decoration: none;
 color: white;
 background-color: #222A35;
 display: none;
 position: absolute;
 top: 23px;
 width: 166px;
 padding-bottom: 10px;
 border-bottom-left-radius: 7%;
 border-bottom-right-radius: 7%;
}
.header-style li:hover > ul{
 display: block;
}
/* 여기까지 헤더 */
/* 여기까지 헤더 */
/* 여기까지 헤더 */
.footer-style{
 border-top: 1px solid #222A35;
 position: absolute;
 bottom: 0px;
 height: 150px;
 background-color: #222A35;
 color: white;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.footer-style > span {
 margin: 30px;
}